@import url('./xy-theme.css');


.graph-container {
  width:100%;
  height: 100%;
}

.custom-node {
  width: 50px;
  height: 50px;
  background: white;
  border: 2px solid #6cf341;
  border-radius: 50%;
  display: flex;
  color: #181818;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.custom-egde {
  
  color: #181818;
  text-size-adjust: 24pt;
  
}

